{% extends "base.html" %}
{% block title %}Editar Contraseña{% endblock %}
{% block content %}
<h2 class="mb-4">Editar Servicio: {{ service }}</h2>

<form method="POST" action="{{ url_for('passwords.update', id=id) }}" class="card p-4">
  <div class="mb-3">
    <label class="form-label">Usuario</label>
    <input name="user" value="{{ user }}" class="form-control" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Contraseña</label>
    <input name="password" value="{{ password }}" class="form-control" required>
  </div>

  <button type="submit" class="btn btn-success">
    <i class="bi bi-save"></i> Guardar Cambios
  </button>

  <a href="{{ url_for('passwords.passwords') }}" class="btn btn-secondary">
    <i class="bi bi-x-circle"></i> Cancelar
  </a>
</form>

{% endblock %}
