<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ nombre }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Hola, soy {{ nombre }}</h1>
        <p>{{ descripcion }}</p>

        <h3>Redes Sociales</h3>
        <ul>
            {% for nombre, enlace in redes.items() %}
            <li><a href="{{ enlace }}" target="_blank">{{ nombre }}</a></li>
            {% endfor %}
	    
	</ul>
	<ul>
		<a href="{{ url_for('passwords.login') }}">Iniciar sesión</a>
	</ul>
    </div>
</body>
</html>
